/*
*   DefaultStyle
*
* By Kevin Alexander Fronzeck
*
*
* Since 16.02.21
*
* Version: 0.1
*
 */





/*
Variables
 */

//Colors
@light-grey: #6A7989;
@dark-grey: #4B4B4B;
@green: #C8D400;
@white: #f7f7f7;


//Fonts


//Sizes



/*
Standard HTML Elements
 */
header{

}

footer{

}

nav{

}

/*
IDs
 */



/*
Classes
*/

.copyrightText{

}

.logoImage{

}

