/*
*   DefaultStyle
*
* By Kevin Alexander Fronzeck
*
*
* Since 16.02.21
*
* Version: 0.1
*
 */





/*
Variables
 */

//Colors
@light-grey: #6A7989;
@dark-grey: #4B4B4B;
@even-darker-grey: #302F33;
@green: #C8D400;
@white: #f7f7f7;


//Fonts


//Sizes



/*
Standard HTML Elements
 */

aside{
  width: 20%;
  float: right;
}

header{

}

footer{

}

main{
  width: 80%;
  float: left;
}

nav{

}

p{
  color: red;
}

/*
IDs
 */





/*
Classes
*/



.bordered{
  border: 1px solid @even-darker-grey;
}


.article{

  p{
    color: @even-darker-grey;
  }

  .articleAuthor{

  }

  .articleBox{
    width: 80%;
    .bordered();

  }

  .articleContainer{

  }

  .articleDate{

  }

  .articleText{

  }

}




.copyrightText{

}

.logoImage{

}

